{% extends 'main_app/base.html' %}

{% block title%}

{% endblock %}


{% block content%}
<h1>Страница про нас</h1>
<h4>
    Этот проект создан на основе python-библиотеки Django. В нем вы наблюдаете To Do Desk, в который вы легко можете добавлять свои задачи. Теперь, я подробно расскажу про функционал. Дабы посмотреть все внутренность сайта, вам следует скачать через терминал библиотеку django. Делается это так, вписываете в командную строку pip install django. После запускаете папку с проектом в качестве Folder. Открыв проект вы наблюдаете множество папок и файлов, если вы хотите разобраться, на сайте <a href = "https://www.w3schools.com/django/">W3schools
    </a> есть подробное описание каждой паки и файла. Командная строка в терминале должна принемать вид " PS C:\Users\User\Documents\Pycharm Projects\my_web_server>", если на конце нету my_web_server, то введите такую команду "cd my_web_server", и тогда все должно заработать. После вписываем в терминале "python(python3 (если вы на MacOS)) manage.py makemigrations ", а после "python(python3) manage.py migrate", только потом вписаваем"python(python3) manage.py runserver" и переходим по ссылке. Попадая на сайт  вы наблюдаете 3 вкладки и по их названию можно понять за что они отвечают. Удачной эксплуотации!
</h4>
{% endblock %}


